html, 
body {
    height: 100%;
}

/*This element is to take the height of the window, so as to
 *vertically align the board*/
#frame {
   background-color:  #abb2b9  ;
  	margin: auto;/*This is one of the many ways of horizontal align*/
}

#frame1 {
  background-color:  #abb2b9  ;
}

#frame2 {
  background-color:  #27ae60  ;
}

#controlPanel {
	background-color:  #5dade2 ;
	width: 100px;
	height: 300px;
}

table#board {
	width: 100%;
	height: 100%;
	border-collapse:collapse;	
	margin: auto;/*This is one of the many ways of horizontal align*/
	vertical-align: middle;/*vertical align*/
}

.tdElement{
	//height:100%;
   color:snow;
	background-color: gray;
	background-image: url("img/dot.png");
	background-size: 100% 100%; 
}
