html, 
body {
    height: 100%;
}


td {
    height:100px;
    color:snow;
	background-color: gray;
}

button.stone {
    width:50px;
    height:50px;
    border-radius: 25px;
	size: 100% 100%; 
}

/*This element is to take the height of the window, so as to
 *vertically align the board*/
#frame {
   background-color:  #abb2b9  ;
   height: 400px;
   width: 400px;
  	margin: auto;/*This is one of the many ways of horizontal align*/
}

#frame1 {
  background-color:  #abb2b9  ;
}

table#board {
	
	border-collapse:collapse;	
	margin: auto;/*This is one of the many ways of horizontal align*/
	vertical-align: middle;/*vertical align*/
}

#middle {
	background-image: url("img/dot.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#a1 {
	background-image: url("img/LT.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#a3 {
	background-image: url("img/RT.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#c1 {
	background-image: url("img/LB.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#c3 {
	background-image: url("img/RB.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#te {
	background-image: url("img/TE.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#re {
	background-image: url("img/RE.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#be {
	background-image: url("img/BE.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}
#le {
	background-image: url("img/LE.png");/*set the background image*/
	background-size: 100% 100%; /* scale the backgroud image to fit the size of the cell*/
}

#a1t {
	background-image: url("img/white.png");	
	background-size: 100% 100%; 
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
